{% extends "base.html" %}
{% block content %}
<h1>Hello Wello</h1>
<h2>About US</h2>
<div class="dy">
    <p style="margin-bottom: 100px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis at arcu
        lacinia tristique. Aliquam erat
        volutpat. Ut ut enim eget tellus eleifend euismod. Fusce interdum dapibus dolor, vel aliquam neque pretium at.
        Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum pellentesque lectus, vitae aliquam mi
        bibendum
        sed.
        Suspendisse vitae tellus nec risus laoreet rhoncus id non ex. Curabitur gravida quis elit eu rhoncus. Phasellus
        accumsan
        tincidunt massa, sed viverra arcu molestie non. Suspendisse eleifend ex lorem, ut tincidunt tortor facilisis at.
        Mauris
        iaculis sem in felis rutrum, eu pretium velit fringilla. Proin faucibus odio at elit imperdiet accumsan. Fusce
        congue
        odio risus. Aenean leo erat, malesuada sed pharetra ut, sagittis ac quam. Nunc arcu nisl, posuere a justo quis,
        maximus
        aliquam ante. Suspendisse pellentesque rutrum eros, ut mollis nibh vehicula quis.</p>

</div>
{% endblock %}